---
import type { TagReference } from "content/types";

import { getCollection } from "astro:content";

import { ProjectGallery, ProjectCard } from "components";
import { DefaultLayout } from "layouts";

const projects = (await getCollection("projects")).filter((project) => {
    return project.data.stage !== "idea";
});

const tagsCollection = await getCollection("tags");
const tagMap = new Map(tagsCollection.map((tag) => [tag.id, tag]));
function mapTags(tags?: TagReference[]) {
    if (!tags) return [];
    return tags
        .filter(Boolean)
        .map((tag) => tagMap.get(tag.id)?.data)
        .filter(Boolean);
}
---

<DefaultLayout title="My Projects" description="automation, dedicated servers, backend systems, frontend components, things I spend my free time with">
	<ProjectGallery>
		{projects.map(({ slug, data }) => (
			<ProjectCard title={data.title} tags={mapTags(data.tags)} href={'/project/' + slug}>
				<a href={data.sourceLink} target="_blank" class="text-accent underline m-0">{data.sourceLink}</a>
				<p class="text-left">{data.description}</p>
			</ProjectCard>
		))}
	</ProjectGallery>
</DefaultLayout>
